[submodule "sglr/vendor/spdlog"]
	path = sglr/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "sglr/vendor/SDL"]
	path = sglr/vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "sglr/vendor/imgui"]
	path = sglr/vendor/imgui
	url = https://github.com/ADUSTEC/imgui
[submodule "sglr/vendor/glm"]
	path = sglr/vendor/glm
	url = https://github.com/icaven/glm
[submodule "sglr/vendor/tinyxml2"]
	path = sglr/vendor/tinyxml2
	url = https://github.com/ADUSTEC/tinyxml2
[submodule "sglr/vendor/assimp"]
	path = sglr/vendor/assimp
	url = https://github.com/ADUSTEC/assimp
[submodule "sglr/vendor/mio"]
	path = sglr/vendor/mio
	url = https://github.com/ADUSTEC/mio

