[submodule "SimpleGLRenderer/vendor/spdlog"]
	path = SimpleGLRenderer/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SimpleGLRenderer/vendor/SDL"]
	path = SimpleGLRenderer/vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "SimpleGLRenderer/vendor/imgui"]
	path = SimpleGLRenderer/vendor/imgui
	url = https://github.com/ADUSTEC/imgui
[submodule "SimpleGLRenderer/vendor/glm"]
	path = SimpleGLRenderer/vendor/glm
	url = https://github.com/icaven/glm
[submodule "SimpleGLRenderer/vendor/tinyxml2"]
	path = SimpleGLRenderer/vendor/tinyxml2
	url = https://github.com/ADUSTEC/tinyxml2
